<div class="kk-select-dark-alt flex flex-col gap-y-2">
  <label *ngIf="label" class="tracking-wider font-bold text-xs text-almost-white uppercase">
    <span>{{ label }}</span>
    <span class="ms-1" *ngIf="isRequired">*</span>
  </label>
  <ng-select [items]="series$ | async"
             [typeahead]="seriesInput$"
             [loading]="loading$ | async"
             [(ngModel)]="innerValue"
             [disabled]="disabled"
             [readonly]="readonly"
             [placeholder]="placeholder"
             (ngModelChange)="updateChanges()">
    <ng-template ng-option-tmp let-item="item">
      <div class="flex items-center gap-x-3">
        <div class="h-10 w-10">
          <img class="object-cover" alt="thumbnail" [src]="item.thumbnailUrl">
        </div>
        <div>
          {{ item.titleEn }} <br/>
          <small>{{ item.titleJpRom }}</small>
        </div>
      </div>
    </ng-template>
    <ng-template ng-label-tmp let-item="item">
      <div class="flex items-center gap-x-3">
        <div class="h-10 w-10">
          <img class="object-cover" alt="thumbnail" [src]="item.thumbnailUrl">
        </div>
        <div>
          {{ item.titleEn }} <br/>
        </div>
      </div>
    </ng-template>
  </ng-select>
</div>
