<div class="w-full min-h-screen flex justify-center pb-5">
  <div class="w-3/4 mt-10">
    <p class="text-5xl">Lista Serii</p>
    <h3>Zarządzaj seriami oraz dodawaj nowe</h3>

    <form [formGroup]="form">
      <kk-input formControlName="name" placeholder="Szukaj serii..."></kk-input>
    </form>

    <kk-infinite-scroll (scrolled)="getSeriesNextPage()">
      <div class="w-full grid grid-cols-3 2xl:grid-cols-4 gap-12 mt-10">
        <kk-series-add-new-button></kk-series-add-new-button>
        <kk-series-card *ngFor="let series of series$ | async" [series]="series"></kk-series-card>
        <ng-container [ngTemplateOutlet]="(loading$ | async) ? loadingTpl : null"></ng-container>
      </div>
    </kk-infinite-scroll>
  </div>
</div>

<ng-template #loadingTpl>
  <div class="flex h-72 w-full animate-pulse bg-gradient rounded-lg shadow-xl"></div>
  <div class="flex h-72 w-full animate-pulse bg-gradient rounded-lg shadow-xl"></div>
  <div class="flex h-72 w-full animate-pulse bg-gradient rounded-lg shadow-xl"></div>
  <div class="flex h-72 w-full animate-pulse bg-gradient rounded-lg shadow-xl"></div>
  <div class="flex h-72 w-full animate-pulse bg-gradient rounded-lg shadow-xl"></div>
  <div class="flex h-72 w-full animate-pulse bg-gradient rounded-lg shadow-xl"></div>
  <div class="flex h-72 w-full animate-pulse bg-gradient rounded-lg shadow-xl"></div>
</ng-template>