<div class="w-full min-h-screen flex justify-center items-center p-20 gap-x-10">
  <div class="bg-glass p-8 w-5/12 h-full">
    <ng-container [ngTemplateOutlet]="(loading$ | async) ? loadingTpl : episodesTpl"></ng-container>
  </div>

  <div class="bg-glass p-8 w-7/12 h-full">
    <ng-container [ngTemplateOutlet]="(loading$ | async) ? loadingTpl : (mode === 'adding') ? addEpisodeTpl : (mode === 'editing') ? editTpl : mirrorTpl"></ng-container>
  </div>
</div>


<ng-template #episodesTpl>
  <h1>{{ seriesTitleJp$ | async }}</h1>
  <div class="flex flex-wrap gap-3">
    <button (click)="selectEpisode(ep.number)" class="w-12 h-12 rounded flex	items-center justify-center bg-slate-600 hover:bg-slate-700 transition-colors" *ngFor="let ep of seriesEpisodes$ | async; trackBy: trackByFn" mat-ripple>
      {{ ep.number }}
    </button>
    <button (click)="goToAddingMode()" class="w-12 h-12 rounded flex	items-center justify-center bg-zinc-600 hover:bg-zinc-700 transition-colors">
      +
    </button>
  </div>
</ng-template>

<ng-template #editTpl>
  <div class="w-full flex items-center justify-between">
    <h1>{{ seriesTitleJp$ | async }} - EP {{ selectedEpisodeNumber$ | async }}</h1>
    <button color="primary" type="button" mat-flat-button (click)="goToMirrorsMode()">Lista mirrorów</button>
  </div>

  <form class="grid grid-cols-2 gap-y-5 gap-x-3" [formGroup]="editEpisodeForm" (submit)="editEpisode()">
    <kk-input [disabled]="true" label="Numer odcinka" type="number" formControlName="number"></kk-input>
    <kk-input label="Tytuł angielski" type="text" formControlName="titleEn"></kk-input>
    <kk-input label="Tytuł japoński" type="text" formControlName="titleEn"></kk-input>
    <kk-input label="Tytuł japoński [romanizowany]" type="text" formControlName="titleEn"></kk-input>
    <kk-input label="Data emisji" type="date" formControlName="aired"></kk-input>
    <kk-input label="Czas trwania [min]" type="number" formControlName="duration"></kk-input>
    <kk-textarea label="Opis" formControlName="synopsis"></kk-textarea>

    <div class="2xl:w-80 w-72 flex justify-end items-end gap-x-2">
      <button (click)="setWantToDelete()" *ngIf="!wantToDelete" color="accent" type="button" mat-stroked-button>Usuń odcinek</button>
      <button (click)="deleteEpisode()" *ngIf="wantToDelete" color="accent" type="button" mat-flat-button>Na pewno?</button>

      <button [disabled]="!editEpisodeForm.valid" color="primary" type="submit" mat-flat-button>Edytuj odcinek</button>
    </div>
  </form>
</ng-template>

<ng-template #addEpisodeTpl>
  <h1>Dodaj nowy odcinek</h1>

  <form class="grid grid-cols-2 gap-y-5 gap-x-3" [formGroup]="addEpisodeForm" (submit)="addEpisode()">
    <kk-input label="Numer odcinka" type="number" formControlName="number"></kk-input>
    <kk-input label="Tytuł angielski" type="text" formControlName="titleEn"></kk-input>
    <kk-input label="Tytuł japoński" type="text" formControlName="titleEn"></kk-input>
    <kk-input label="Tytuł japoński [romanizowany]" type="text" formControlName="titleEn"></kk-input>
    <kk-input label="Data emisji" type="date" formControlName="aired"></kk-input>
    <kk-input label="Czas trwania [min]" type="number" formControlName="duration"></kk-input>
    <kk-textarea label="Opis" formControlName="synopsis"></kk-textarea>

    <div class="2xl:w-80 w-72 flex justify-end items-end">
      <button [disabled]="!addEpisodeForm.valid" color="primary" type="submit" mat-flat-button>Dodaj odcinek</button>
    </div>
  </form>
</ng-template>

<ng-template #mirrorTpl>
  <div class="max-h-60 h-60">
    <table mat-table [dataSource]="selectedEpisodeMirrors$ | async">
      <ng-container matColumnDef="translator">
        <th mat-header-cell *matHeaderCellDef>Tłumacz</th>
        <td mat-cell *matCellDef="let element">{{ element.translator }}</td>
      </ng-container>

      <ng-container matColumnDef="mirror">
        <th mat-header-cell *matHeaderCellDef>Mirror</th>
        <td mat-cell *matCellDef="let element">{{ element.mirror }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Data dodania</th>
        <td mat-cell *matCellDef="let element">{{ element.date | date:'dd.MM.YYYY HH:mm' }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Akcje</th>
        <td mat-cell *matCellDef="let element">
          <kk-series-episode-remove-mirror-button [epNumber]="selectedEpisodeNumber$ | async" [mirrorId]="element.id" (deleted)="deleteMirrorHandler(element.id)"></kk-series-episode-remove-mirror-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <h1>Dodawanie mirrora</h1>
  <form class="grid grid-cols-2 gap-y-5 gap-x-3" [formGroup]="addMirrorForm" (submit)="addMirror()">
    <kk-input label="Tłumacz" type="text" formControlName="translator"></kk-input>
    <kk-input label="Mirror" type="text" formControlName="mirror"></kk-input>
    <kk-input label="Link" type="text" formControlName="url"></kk-input>
    <kk-input label="Data" type="datetime-local" formControlName="date"></kk-input>

    <div>
      <button [disabled]="!addMirrorForm.valid" color="primary" type="submit" mat-flat-button>Dodaj mirror</button>
    </div>
  </form>

</ng-template>

<ng-template #loadingTpl>
  <kk-loading-spinner></kk-loading-spinner>
</ng-template>